<% if @project %>
<h4>Project Title: <%= @project.title %></h4>
<% end %>

<a href="/projects/<%= @project.id %>/edit">Edit Project</a>

<h2>Add volunteer to project</h2>
<% if @volunteers %>
<% if @volunteers.any? %>
<form method="post" action="/volunteer/<%= @project.id %>">
<label>Select a Volunteer</label>
<select class="form-select" name="name">
  <% @volunteers.each do |volunteer| %>
    <option value="<%= volunteer.id %>"><%= volunteer.name %></option>
  <% end %>
</select>
<button>Select Volunteer</button>
</form>
<% else %>
<p>There are currently no volunteers available.</p>
<% end %>
<% end %>