<% if @project %>
<h2>Project Title: <%= @project.title %></h2>
<% end %>

<a href="/projects/<%= @project.id %>/edit">Edit Project</a>

<% if @project.volunteers %>
<h2>Volunteers assigned to this project</h2>
  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no volunteers to display.</p>
<% end %>

<a href="/">Back to home</a>

<h1>Add a new volunteer</h1>

    <form action="/projects/<%= @project.id %>/volunteers" method="post">
      <div class="form-group">
        <label for="name">Volunteer Name</label>
        <input id="name" name="name" class="form-control" type="text">
      </div>
      <button type="submit" class="btn">Add Volunteer</button>
    </form>
